<nav  class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="background-color:rgb(6, 23, 175);" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h4 ><a class="nav-link" routerLink="/register" style="color:#cfcbcb;">Register <span class="sr-only"></span></a></h4>
      </li>
      <li class="nav-item">
       <h4> <a class="nav-link" routerLink="/login" style="color:#cfcbcb;">login<span class="sr-only"></span></a></h4>
      </li>
      <li class="nav-item">
        <h4><a class="nav-link" routerLink="/addsuj" style="color:#cfcbcb;"><span class="sr-only"></span></a></h4>
      </li>
      <li class="nav-item">
        <h4><a class="nav-link" routerLink="/Listsujet" style="color:#cfcbcb;">Listsujet<span class="sr-only"></span></a></h4>
      </li>
      <li class="nav-item">
          <h4><a class="nav-link" routerLink="/sondage" style="color:#cfcbcb;">vote<span class="sr-only"></span></a></h4>
      </li>
    </ul>
  </div>
</nav>
